@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* CSS RESET */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* STYLES */

body {
    font-family: Poppins, sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.top-container {
    margin: auto;
    text-align: center;
    margin-top: 4.9rem;
    max-width: 500px;
    margin-bottom: 3.85rem;
}

h1,
h2 {
    color: #4c4e61;
    font-size: 2.25rem;
}

h2 {
    font-weight: 200;
}

.top-container h1 {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.top-container p {
    font-size: 16px;
    color: hsl(229, 6%, 66%);
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-stack {
    width: 350px;
    display: grid;
    place-content: center;
    gap: 2rem;
    margin-inline: 1rem;
}

.card {
    padding: 1.75rem 2rem;
    height: 250px;
    background-color: white;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(76, 78, 97, 0.15);
    -moz-box-shadow: 0px 6px 15px 0px rgba(76, 78, 97, 0.15);
    box-shadow: 0px 6px 15px 0px rgba(76, 78, 97, 0.15);
}

.card h3 {
    color: #4c4e61;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: 0.8rem;
    color: hsl(229, 6%, 66%);
    margin-bottom: 2.75rem;
}

.card img {
    float: right;
}

.supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

/* RESPONSIVE MEDIA QUERIES */

@media (max-width:900px) {
    .card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-inline: 2rem;
        margin-bottom: 3rem;
    }

    .top-container {
        padding-inline: 2rem;
        margin-top: 4rem;
        margin-bottom: 4.75rem;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }

    .top-container h1 {
        margin-bottom: 1rem;
    }

    .top-container p {
        font-size: 15px;
    }

    .card {
        height: 215px;
        margin-bottom: 1.5rem;
        padding: 1.25rem 1.75rem;
    }

    .card img {
        width: 60px;
    }

    .card-stack {
        gap: 0rem;
        margin-inline: 0rem;
    }

    .card h3 {
        margin-bottom: 0.4rem;
    }

    .card p {
        margin-bottom: 2.35rem;
    }
}